@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, rgb(214, 119, 174) 16.62%, rgb(177, 137, 137) 85.61%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 0.3px solid rgb(0, 0, 0);
}

.cabecalho-imagem {
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px; 

    
}

.conteudo {
    margin-bottom: 48px;
   
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: black
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background-color: beige;
    height: 60px;
    width: 180px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
}

.conteudo-principal-escrito-botao:hover {
    background-color: grey;

}

.conteudo-principal-imagem {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 3%;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
  
    padding-top: 10px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color: black;
}

.rodape {
    padding: 5px;
    margin-bottom: 5px;
    border-top: 0.3px solid rgb(0, 0, 0);
}

.rodape-imagem {
    
    height: 58px;
    padding-left: 700px;
    margin-top: 30px;
    margin-bottom: 5px;

}

@media screen and (max-width: 600px) {

    .cabecalho,
    .conteudo-principal {
        display: flex;
        flex-direction: column;
    }

    .cabecalho-imagem {
     
        margin-right: 350px;
        display: inline;
    }

    .cabecalho-menu-item {

      
      
    }

    .conteudo-principal-escrito, .conteudo-secundario {
        align-items: center;
        text-align: center;
    }

    .conteudo-principal-escrito {
        gap: 0px;
    }
    .conteudo-principal-escrito-titulo {
        padding: 20px;
    }

    .conteudo-principal-escrito-subtitulo {
        margin-top: 0px;
    }

    .conteudo-principal-escrito-botao {
        margin-top: 10px;
    }
}
